@import url('http://fonts.cdnfonts.com/css/circe');
@import url('http://fonts.cdnfonts.com/css/gilam');

* {
    font-family: 'Gilam', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    color: #fff;
    background: #171717;
}
h1 {
    font-size: 3.1rem;
}
a {
    color: #fff;
}
a:hover {
    color: #E4B564;
}
.wrapper,
.wrapper2 {
    width:1460px;
    margin:0 auto;
}
.wrapper2 {
    padding-bottom: 138px;
}
.bg1 {
    background-image: url("../img/header-bg.jpeg");
    background-attachment: fixed;
    padding-bottom: 152px;
}
.bg2 {
    background: #0e0e0e;
    background-image: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
}
.header_container {
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    padding: 37px 0;
}
.header_container .header_right_side {
    flex-grow: 1;
    text-align:right;
}
.yellow_text {
    color: #E4B564;
}
.btn {
    font-family: 'circe';
    color: #E4B564;
    text-decoration: none;
    line-height: 30px;
    padding: 10px 25px;
    margin-left: 40px;
    border: 1px solid #E4B564;
}
.btn:hover {
    border-color: #fff;
    color: #fff;
}
.phone_icon {
    background: url("../img/phone_icon.svg") 13% no-repeat;
    padding-left: 49px;
}
section {
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 700;
}
.section_1 .content{
    padding: 20px 0 160px 0;
}
.grid_3fr {
    display: grid;
    grid-template: 468px / repeat(3, minmax(0,1fr));
    grid-gap: 34px;
    margin-bottom: 27px;
    text-align: center;
}
.section_1 .grid_3fr div,
.section_1 .grid_2fr div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid_3fr a,
.grid_2fr a {
    color: #fff;
    text-decoration: none;
}
.section_1 .grid_3fr a,
.section_1 .grid_2fr a {
    align-self: center;
}
.grid_3fr a:hover,
.grid_2fr a:hover {
    color: #E4B564;
}
.section_1 .item3 a:hover {
    color: #B08C4D;
}
.section_1 .grid_2fr {
    display: grid;
    grid-template: 468px / repeat(2, minmax(0,1fr));
    grid-gap: 30px;
}
.section_1 .item1 {
    background: #634F2C;
}
.section_1 .item2 {
    background: #B4A385;
}
.section_1 .item3 {
    background: #E4B564;
}
.section_1 .item4 {
    background: #635A4A;
}
.section_1 .item5 {
    background: #B08C4D;
}
.section_2 .content {
    margin: 90px 0 0px;
}
.section_2 {
    font-weight: 400;
}
.section_2 b {
    font-weight: 700;
}
.section_2 .grid_3fr {
    display: grid;
    grid-template: 1fr / repeat(3, minmax(0,1fr));
    grid-gap: 30px;
    text-align: left;
    margin-bottom: 0;
}
.section_2 .col1 > div,
.section_2 .col2 > div,
.section_2 .col3 > div {
    height: 313px;
    background: #0E0E0E;
    margin-bottom: 24px;
    padding: 44px 52px;
    box-sizing: border-box;
}
.section_2 .col1 .item2 {
    height: 560px;
    background: #1F1F1F;
}
.section_2 .col2 .item1 {
    height: 439px;
    background: #242424;
    margin-bottom: 33px;
}
.section_2 .col2 .item2 {
    height: 405px;
    background: #E4B564;
    color: #000;
}
.section_2 .col2 .item2 a {
    color: #000;
}
.section_2 .col2 .item2 a:hover {
    color: #fff;
}
.section_2 .col3 .item1 {
    height: 255px;
    background: #1F1F1F;
}
.section_2 .col3 .item2 {
    height: 313px;
    background: #0E0E0E;
}
.section_2 .col3 .item3 {
    height: 277px;
    background: #0A0909;
}
.section_3 .content {
    margin: 90px 0 0px;
    font-weight: 400;
}
.section_3 {
    position: relative;
    padding-top:140px;
}
.section_3 .btn {
    position: absolute;
    top:153px;
    right: 0;
}
.section_3 .grid_3fr {
    display: grid;
    grid-template: 391px 391px / repeat(3, minmax(0,1fr));
    grid-gap: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.section_3 .grid_3fr .item1 {
    background: #634F2C;
}
.section_3 .grid_3fr .item2 {
    background: #b3a385;
}
.section_3 .grid_3fr .item3 {
    background: #E4B564;
}
.section_3 .grid_3fr .item4 {
    background: #635A4A;
}
.section_3 .grid_3fr .item5 {
    background: #B08C4D;
}
.section_3 .grid_3fr .item6 {
    background: #634F2C;
}
.section_3 .grid_3fr div {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.section_3 .grid_3fr a {
    align-self: center;
    font-size: 22px;
    line-height: 28px;
}
.section_3 .grid_3fr a:hover {
    color: #fff;
}
.section_3 .grid_3fr a img {
    margin-bottom: 10px;
}